apiVersion: apps/v1
kind: Deployment
metadata:
  name: security-service
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: security-service
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: "1"
              memory: 1Gi
