apiVersion: v1
kind: Service
metadata:
  name: security-service
  labels:
    app: security-service
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: security-service
